@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

.navbar {
    background-color: #000000; /* Set the background color to black */
    padding: 10px 0px; /* Add some padding for better visual spacing */
}

.navbar.MuiStack-root {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.navbar-title-link {
    text-decoration: none; /* Remove underline */
}

.navbar-title {
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    color: #FFFFFF; /* Set the text color to white */
}

.navbar-title-link:hover .navbar-title {
    text-decoration: none; /* Ensure no underline on hover */
}

.navbar-links {
    gap: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    align-items: flex-end;
}

.navbar-link {
    text-decoration: none !important;
    color: #FFFFFF !important; /* Set the text color to white */
    position: relative;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #B0B0B0 !important; /* Set the hover color to a muted gray */
}

/* Ensure no underline for active link */
.navbar-link.active::after {
    content: '';
    position: absolute;
    width: 0 !important;
    height: 3px;
    bottom: 0;
    left: 0;
    /* background-color: #FF2625; */
    border-radius: 2px;
}

/* Override the -webkit-any-link styles */
a:-webkit-any-link {
    text-decoration: none !important;
    /* color: inherit !important; */
}

.menu-button {
    color: #FFFFFF !important;
}

/* Drawer styling */
.MuiDrawer-paper {
    background-color: #ffffff !important; /* Soothing background color for the drawer */
}